<aside class="w-64 bg-primary-500 flex flex-col h-full">

  <!-- <div class="h-16 flex items-center px-6 ">
    <span class="text-lg font-bold">LOGO</span>
  </div> -->

  <nav class="flex-1 px-4 py-6">
    <ul class="space-y-3">

      <li>
        <a routerLink="/dashboard" routerLinkActive="bg-green-500"
          class="block px-4 py-2 rounded hover:bg-green-500 transition">
          Dashboard
        </a>
      </li>

      <li>
        <a routerLink="/users" routerLinkActive="bg-green-500"
          class="block px-4 py-2 rounded hover:bg-green-500 transition">
          Usuarios
        </a>
      </li>

      <li>
        <a routerLink="/reportes" routerLinkActive="bg-green-500"
          class="block px-4 py-2 rounded hover:bg-green-500 transition">
          Reportes
        </a>
      </li>
      <li>
        <a routerLink="/scaner" routerLinkActive="bg-green-500"
          class="block px-4 py-2 rounded hover:bg-green-500 transition">
          Scaner
        </a>
      </li>

    </ul>
  </nav>

</aside>
